In [1]:
import pandas as pd

df = pd.read_csv('datasets/iris.csv', index_col=0)
df.head()

    sepallength  sepalwidth  petallength  petalwidth        class
ID
1           5.1         3.5          1.4         0.2  Iris-setosa
2           4.9         3.0          1.4         0.2  Iris-setosa
3           4.7         3.2          1.3         0.2  Iris-setosa
4           4.6         3.1          1.5         0.2  Iris-setosa
5           5.0         3.6          1.4         0.2  Iris-setosa

In [ ]:
import numpy as np

def p(v):
    pass

def entropy(values):
    return sum([-p(v) * np.log2(v) for v in values])